body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
}

header {
    background-color: #282828;
    color: whitesmoke;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 25px;
    gap: 10px;
}

li {
    cursor: pointer;
}

.icon {
    width: 25px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.align-right {
/* 
Challenge:
1. Add a line of CSS to position the menu 
   icon at the right-hand end of the ul 
   element. The logo and location pin should 
   remain where they are.
*/
  margin: 0 0 0 auto;
}

.item-img {
    width: 100%;
    display: block;
}

.caption {
    margin: 0 25px;
}

.item{
    position: relative;
    
}
.caption {
    margin: 0 25px;
}

.img-banner {

    position: absolute;
    top: 0;
    left: 0;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px;
}

button {
    border: none;
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
}

.caption {
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px; 
}